<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>穷逼停放</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <style>
        .g-recaptcha>div {
            text-align: center !important;
            width: unset !important;
        }
    </style>
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-7-tablet is-6-desktop is-5-widescreen">
                        <div class="box">
                            <div class="field">
                                <label for="" class="label">跳转地址</label>
                                <div class="control has-icons-left">
                                    <input id="to" type="url" placeholder="https://heming.is.sb/[domain]" class="input"
                                        required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p style="padding: 1rem;">
                                    您可以在链接中使用 <code>[domain]</code>、<code>[prefix]</code> 和
                                    <code>[suffix]</code> 占位符，在跳转时会根据域名替换为 <code>nb.com|nb|.com</code> 。
                                </p>
                            </div>
                            <div class="field">
                                <label for="" class="label">人机验证</label>
                                <div class="control is-centered">
                                    <div class="g-recaptcha" data-sitekey="{{.GClient}}"></div>
                                </div>
                            </div>
                            <div class="field">
                                <button onclick="up(this)" class="button is-success">
                                    启动跳转
                                </button>
                            </div>
                            <div id="msgOK" class="message is-primary" style="display: none;">
                                <div class="message-header">
                                    <p>已生成专属 Name Server</p>
                                </div>
                                <div class="message-body">
                                    请将您的NS设置为 <code id="msgOKBody"></code>，访问域名时会自动跳转到您设置的链接。
                                </div>
                            </div>
                            <div id="msgErr" class="message is-warning" style="display: none;">
                                <div class="message-header">
                                    <p>Oops 有些问题呢</p>
                                </div>
                                <div id="msgErrBody" class="message-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <script>
        function up(btn) {
            if (btn.classList.contains("is-loading")) {
                return
            }
            btn.classList.add("is-loading")
            const msgOK = document.getElementById("msgOK")
            const msgOKBody = document.getElementById("msgOKBody")
            const msgErr = document.getElementById("msgErr")
            const msgErrBody = document.getElementById("msgErrBody")

            msgOK.setAttribute("style", "display:none;")
            msgOKBody.textContent = "";
            msgErr.setAttribute("style", "display:none;")
            msgErrBody.textContent = "";

            const toEl = document.getElementById("to")
            const g = document.getElementById("g-recaptcha-response")

            if (!toEl.value) {
                btn.classList.remove("is-loading")
                msgErr.removeAttribute("style")
                msgErrBody.textContent = "必须填写跳转地址哦"
                return
            }

            if (!g.value) {
                btn.classList.remove("is-loading")
                msgErr.removeAttribute("style")
                msgErrBody.textContent = "必须通过人机验证哦"
                return
            }

            postData('/up', { g: g.value, to: toEl.value })
                .then(data => {
                    btn.classList.remove("is-loading")
                    if (data.success) {
                        msgOK.removeAttribute("style")
                        msgOKBody.textContent = data.data
                    } else {
                        msgErr.removeAttribute("style")
                        msgErrBody.textContent = data.msg;
                    }
                })
                .catch(error => {
                    btn.classList.remove("is-loading")
                    msgErr.removeAttribute("style")
                    msgErrBody.textContent = error;
                })
        }

        function postData(url, data) {
            return fetch(url, {
                body: JSON.stringify(data), // must match 'Content-Type' header
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                // credentials: 'same-origin', // include, same-origin, *omit
                headers: {
                    // 'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json'
                },
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                // mode: 'cors', // no-cors, cors, *same-origin
                redirect: 'follow', // manual, *follow, error
                // referrer: 'no-referrer', // *client, no-referrer
            })
                .then(response => response.json()) // parses response to JSON
        }
    </script>
</body>

</html>